.testimonial {
	display: flex;
	align-items: center;
	margin: 50px 0;
}

.testimonial-img {
}

.testimonial-img img {
	width: 685px;
	height: auto;
}

.author-container {
	background-image: url("./image/testimonial-bg.png");
	background-position: top left;
	background-repeat: no-repeat;
	background-size: auto;
	margin-right: 100px;
	margin-left: 20px;
}

.author-container .box-content {
	margin-left: 30px;
	padding-top: 65px;
}

.author {
	display: flex;
}

.author .job {
	font-size: 16px;
	font-family: Poppins;
	margin-left: 0;
}
