.container {
	display: flex;
	flex-direction: column;
	/* margin-top: 10px; */
}

.art-1 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background: linear-gradient(180deg, silver, white);
}

.art-1 img {
	border-radius: 0 0 20px 20px;
}

.art-cover {
	display: flex;
	width: 1095px;
	height: 406px;
}

.art-cover img {
	width: 1095px;
	height: 406px;
	position: relative;
}

.art-2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.art-2 .art-info {
	display: flex;
	width: 908px;
	height: 147px;
}

.art-info-bg {
	display: flex;
	position: absolute;
	background-color: white;
	top: 430px;
	left: 250px;
	width: 180px;
	height: 180px;
	border-radius: 90px;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.art-info img {
	width: 168px;
	height: 168px;
	/* border: silver 3px; */
	border-radius: 84px;
}

.art-info-name {
	display: flex;
	position: absolute;
	top: 474px;
	left: 448px;
	align-content: center;
	justify-content: center;
	align-items: center;
	font-size: 25px;
}

.art-info-edit {
	display: flex;
	width: 218px;
	height: 36px;
	background-color: rgba(228, 230, 234, 255);
	position: absolute;
	top: 565px;
	left: 1017px;
	align-content: center;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	border-radius: 5px;
}

.message {
	display: flex;
	position: relative;
	flex-direction: column;
	width: 100%;
	height: 200px;
	align-items: flex-end;
}

.message-size {
	/* position: absolute; */
	/* top: 0; */
	/* right: 0; */
	width: 48px;
	height: 48px;
	border-radius: 24px;
	margin-right: 30px;
}

.message-size:hover {
}

.rectangle-1 {
	width: 200px;
	height: 100px;
	top: -47px;
	right: 108px;
	position: absolute;
	background-color: rgba(228, 230, 234, 255);
	border-radius: 10px;
	box-shadow: #0000003d 0px 3px 8px;
	/* visibility: hidden; */
}

.triangle-right-1 {
	width: 0;
	height: 0;
	top: 16px;
	right: 90px;
	position: absolute;
	border-top: 10px solid transparent;
	border-left: 20px solid rgba(228, 230, 234, 255);
	border-bottom: 10px solid transparent;
	/* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.rectangle-2 {
	width: 200px;
	height: 100px;
	top: 4px;
	right: 108px;
	position: absolute;
	background-color: rgba(228, 230, 234, 255);
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.triangle-right-2 {
	width: 0;
	height: 0;
	top: 63px;
	right: 90px;
	position: absolute;
	border-top: 10px solid transparent;
	border-left: 20px solid rgba(228, 230, 234, 255);
	border-bottom: 10px solid transparent;
	/* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.rectangle-3 {
	width: 200px;
	height: 100px;
	top: 55px;
	right: 108px;
	position: absolute;
	background-color: rgba(228, 230, 234, 255);
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.triangle-right-3 {
	width: 0;
	height: 0;
	top: 119px;
	right: 90px;
	position: absolute;
	border-top: 10px solid transparent;
	border-left: 20px solid rgba(228, 230, 234, 255);
	border-bottom: 10px solid transparent;
	/* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.message h2 {
	font-size: 20px;
	padding-left: 20px;
}

.message p {
	font-size: 20px;
	padding-left: 20px;
}
